@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9;
  color: black;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}
h2 {
  font-size: 1.8em;
  font-weight: 600;
}
h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.ant-btn-primary {
  background-color: #3c82f6;
}

.ant-float-btn {
  background-color: white;
}

.ant-badge-status-dot {
  width: 0.85em !important;
  height: 0.85em !important;
}
/* for Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* for macOS */
@media screen and (-apple-system-font: inherit) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Lucida Grande',
      'Helvetica Neue', sans-serif;
  }
}

/* for Linux/Ubuntu */
@media screen and (font-family: 'Ubuntu, Cantarell, Fira Sans, Droid Sans') {
  body {
    font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  }
}
